.details {
  display: flex;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  margin-bottom: 20px;
}

.img {
  margin-right: 15px;
  margin-bottom: 20px;
}

.info-title {
  margin-bottom: 20px;
}

// .link {
//   display: inline-block;
//   margin: 10px;
//   padding: 10px 15px;
//   background-color: #8b91ff;
//   text-decoration: none;
//   border-radius: 5px;
//   color: #dde0e3;
// }

// .activeLink {
//   display: inline-block;
//   margin: 10px;
//   padding: 10px 15px;
//   border-radius: 5px;
//   color: white;
//   background-color: tomato;
// }
