.details {
  display: flex;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  margin-bottom: 20px;
}

.img {
  margin-right: 15px;
  margin-bottom: 20px;
}

.info-title {
  margin-bottom: 20px;
}
