.link {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  background-color: #8b91ff;
  text-decoration: none;
  border-radius: 5px;
  color: #dde0e3;
}
.activeLink {
  display: inline-block;

  margin: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
}
